.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0047AB;
  color: #fff;
  padding: 15px 30px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #00C1D4;
}

.footer {
  background: #1a1a1a;
  color: #ccc;
  text-align: center;
  padding: 30px;
  font-size: 14px;
}

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 1000;
  transition: transform 0.3s ease;
}
  
.whatsapp-float:hover {
  transform: scale(1.1);
}

.whatsapp-float i {
  margin-top: 15px;
}


.blog-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
  padding: 20px;
  transition: transform 0.3s ease;
}

.blog-card:hover {
  transform: translateY(-5px);
}

.blog-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.read-more {
  color: #0047AB;
  font-weight: 600;
  text-decoration: none;
}

.read-more:hover {
  color: #00C1D4;
}
